<br />
<br />
<br />
<!--<div style=" background-color: #fff;
margin: 0 auto;
width: 85%;
padding: 50px;
text-align: center;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
-moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
box-shadow: rgba(0,0,0,0.8) 0 0 10px;">-->
<div style="margin-top: -50px;">
<section id="HeadingGuide">
    <div class="u-heading-v2-2--top g-brd-primary g-mb-20 text-center">
            <h2 class="u-heading-v2__title g-line-height-1_3 g-font-weight-500 g-font-size-32 g-mb-8">Center for Global Data Visualization (CGDV) Overview</h2>
    </div>    
<iframe src="assets/custom-img/Guide.htm" style="width:100%;height:600px"></iframe>

</section>
</div>