<script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
  </script>
<br />
<br />
<br />


<div style="margin-top: -50px;">
<section id="HeadingGuide">
    <div class="u-heading-v2-2--top g-brd-primary g-mb-20 text-center">
            <h2 class="u-heading-v2__title g-line-height-1_3 g-font-weight-500 g-font-size-32 g-mb-8">Center for Global Data Visualization (CGDV) Overview</h2>
    </div>    

<iframe src="assets/custom-img/Guide.htm" frameborder="0" scrolling="no" style="width:100%" onload="this.style.height = this.contentWindow.document.body.scrollHeight + 'px';"></iframe>
</section>
</div>