<!-- Promo Block -->
         <div class="js-carousel video-slider video-slider-inner" data-infinite="true" data-autoplay="true" data-speed="7000" data-center-mode="true" data-center-padding="200px" data-slides-show="3" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-45 g-height-45 g-font-size-20 g-brd-style-solid g-brd-2 g-color-white g-bg-black-opacity-0_5--hover g-transition-0_3 rounded-circle"
            data-arrow-left-classes="fa fa-angle-left g-left-20" data-arrow-right-classes="fa fa-angle-right g-right-20" data-responsive='[{
            "breakpoint": 1200,
            "settings": {
            "slidesToShow": 3,
            "centerPadding": "30px"
            }
            }, {
            "breakpoint": 992,
            "settings": {
            "slidesToShow": 2,
            "centerPadding": "60px"
            }
            }, {
            "breakpoint": 650,
            "settings": {
            "slidesToShow": 1,
            "centerPadding": "40px"
            }
            }]'>
            <!-- Article -->
            <div class="js-slide g-py-10 g-px-5">
               <article class="u-block-hover">
                  <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
                     <img class="img-fluid w-100 height-100 u-block-hover__main--mover-up" src="assets/custom-img/FDI-Impact.png" alt="Does FDI Impact GDP Growth in Haiti">
                  </figure>
                  <span class="g-pos-abs g-top-20 g-left-20">
                  <a class="btn btn-sm u-btn-yellow rounded-0" href="#!">
                  <i class="icon-energy"></i>
                  </a>
                  <a class="btn btn-sm u-btn-black rounded-0" href="#!">July 10, 2018</a>
                  </span>
                  <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20 des-sec">
                     <ul class="list-inline g-font-size-12 g-color-white g-mb-5">
                        <li class="list-inline-item">
                           <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> 11
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-speech g-pos-rel g-top-1 g-mr-2"></i> 17
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-share g-pos-rel g-top-1 g-mr-2"></i> 35
                        </li>
                     </ul>
                     <h4 class="h3 g-font-weight-300 g-mb-20">
                        <a class="g-color-white g-color-white--hover" href="FDI-Impact-GDP-Growth-in-Haiti.html">Does FDI Impact GDP Growth in Haiti?</a>
                     </h4>
                     <div class="media">
                        <div class="d-flex mr-3">
                           <img class="g-width-30 g-height-30 g-rounded-50x" src="assets/custom-img/img4.jpg" alt="Image description">
                        </div>
                        <div class="media-body align-self-center g-color-white">
                           <p class="mb-0">Keshav Sundar</p>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
            <!-- End Article -->
            <!-- Article -->
            <div class="js-slide g-py-10 g-px-5">
               <article class="u-block-hover">
                  <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
                     <img class="img-fluid w-100 u-block-hover__main--mover-up" src="assets/custom-img/Economic-Growth.png" alt="What Drives Economic Growth in Afghanistan">
                  </figure>
                  <span class="g-pos-abs g-top-20 g-left-20">
                  <a class="btn btn-sm u-btn-purple rounded-0" href="#!">
                  <i class="icon-energy"></i>
                  </a>
                  <a class="btn btn-sm u-btn-black rounded-0" href="#!">July 4, 2018</a>
                  </span>
                  <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20 des-sec">
                     <ul class="list-inline g-font-size-12 g-color-white g-mb-5">
                        <li class="list-inline-item">
                           <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> 12
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-speech g-pos-rel g-top-1 g-mr-2"></i> 52
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-share g-pos-rel g-top-1 g-mr-2"></i> 26
                        </li>
                     </ul>
                     <h4 class="h3 g-font-weight-300 g-mb-20">
                        <a class="g-color-white g-color-white--hover" href="Economic-Growt-in-Afghanistan.html">What Drives Economic Growth in Afghanistan</a>
                     </h4>
                     <div class="media">
                        <div class="d-flex mr-3">
                           <img class="g-width-30 g-height-30 g-rounded-50x" src="assets/custom-img/img4.jpg" alt="Image description">
                        </div>
                        <div class="media-body align-self-center g-color-white">
                           <p class="mb-0">Keshav Sundar</p>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
            <!-- End Article -->
            <!-- Article -->
            <div class="js-slide g-py-10 g-px-5">
               <article class="u-block-hover">
                  <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
                     <img class="img-fluid w-100 u-block-hover__main--mover-up" src="assets/custom-img/Resources-contributes.png" alt="Natural Resources contributes significantly to Dem. Republic of Congo's Economy">
                  </figure>
                  <span class="g-pos-abs g-top-20 g-left-20">
                  <a class="btn btn-sm u-btn-cyan rounded-0" href="#!">
                  <i class="icon-energy"></i>
                  </a>
                  <a class="btn btn-sm u-btn-black rounded-0" href="#!">June 29, 2018</a>
                  </span>
                  <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20 des-sec">
                     <ul class="list-inline g-font-size-12 g-color-white g-mb-5">
                        <li class="list-inline-item">
                           <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> 19
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-speech g-pos-rel g-top-1 g-mr-2"></i> 65
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-share g-pos-rel g-top-1 g-mr-2"></i> 14
                        </li>
                     </ul>
                     <h4 class="h3 g-font-weight-300 g-mb-20">
                        <a class="g-color-white g-color-white--hover" href="Republic-of-Congo's-Economy.html">Natural Resources contributes significantly to Dem. Republic of Congo's Economy</a>
                     </h4>
                     <div class="media">
                        <div class="d-flex mr-3">
                           <img class="g-width-30 g-height-30 g-rounded-50x" src="assets/custom-img/img4.jpg" alt="Image description">
                        </div>
                        <div class="media-body align-self-center g-color-white">
                           <p class="mb-0">Keshav Sundar</p>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
            <!-- End Article -->
            <!-- Article -->
            <div class="js-slide g-py-10 g-px-5">
               <article class="u-block-hover">
                  <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
                     <img class="img-fluid w-100 height-100 u-block-hover__main--mover-up" src="assets/custom-img/Health-Infrastructure.png" alt="Haiti's Health Infrastructure compares poorly with other countries in Latin America">
                  </figure>
                  <span class="g-pos-abs g-top-20 g-left-20">
                  <a class="btn btn-sm u-btn-yellow rounded-0" href="#!">
                  <i class="icon-energy"></i>
                  </a>
                  <a class="btn btn-sm u-btn-black rounded-0" href="#!">June 16, 2018</a>
                  </span>
                  <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20 des-sec">
                     <ul class="list-inline g-font-size-12 g-color-white g-mb-5">
                        <li class="list-inline-item">
                           <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> 15
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-speech g-pos-rel g-top-1 g-mr-2"></i> 17
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-share g-pos-rel g-top-1 g-mr-2"></i> 35
                        </li>
                     </ul>
                     <h4 class="h3 g-font-weight-300 g-mb-20">
                        <a class="g-color-white g-color-white--hover" href="Haiti's-Health-Infrastructure-compares-poorly-with-other-countries-in-LatinAmerica.html">Haiti's Health Infrastructure compares poorly with other countries in Latin America</a>
                     </h4>
                     <div class="media">
                        <div class="d-flex mr-3">
                           <img class="g-width-30 g-height-30 g-rounded-50x" src="assets/custom-img/img4.jpg" alt="Image description">
                        </div>
                        <div class="media-body align-self-center g-color-white">
                           <p class="mb-0">Keshav Sundar</p>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
            <!-- End Article -->
            <!-- Article -->
            <div class="js-slide g-py-10 g-px-5">
               <article class="u-block-hover">
                  <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
                     <img class="img-fluid w-100 u-block-hover__main--mover-up" src="assets/custom-img/Comparing-Myanmar.png" alt="Trends in HDI: Comparing Myanmar with neighbouring countries">
                  </figure>
                  <span class="g-pos-abs g-top-20 g-left-20">
                  <a class="btn btn-sm u-btn-red rounded-0" href="#!">
                  <i class="icon-energy"></i>
                  </a>
                  <a class="btn btn-sm u-btn-black rounded-0" href="#!">June 20, 2018</a>
                  </span>
                  <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20 des-sec">
                     <ul class="list-inline g-font-size-12 g-color-white g-mb-5">
                        <li class="list-inline-item">
                           <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> 29
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-speech g-pos-rel g-top-1 g-mr-2"></i> 17
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-share g-pos-rel g-top-1 g-mr-2"></i> 35
                        </li>
                     </ul>
                     <h4 class="h3 g-font-weight-300 g-mb-20">
                        <a class="g-color-white g-color-white--hover" href="Comparing-Myanmar-with-neighbouring-countries.html">Trends in HDI: Comparing Myanmar with neighbouring countries</a>
                     </h4>
                     <div class="media">
                        <div class="d-flex mr-3">
                           <img class="g-width-30 g-height-30 g-rounded-50x" src="assets/custom-img/img4.jpg" alt="Image description">
                        </div>
                        <div class="media-body align-self-center g-color-white">
                           <p class="mb-0">  Keshav Sundar</p>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
            <!-- End Article -->
            <!-- Article -->
            <div class="js-slide g-py-10 g-px-5">
               <article class="u-block-hover">
                  <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
                     <img class="img-fluid w-100 u-block-hover__main--mover-up" src="assets/custom-img/Health-in-Myanmar.png" alt="Children's Health in Myanmar is characterized by decreased child mortality with Respiratory Infections being the primary cause of death">
                  </figure>
                  <span class="g-pos-abs g-top-20 g-left-20">
                  <a class="btn btn-sm u-btn-cyan rounded-0" href="#!">
                  <i class="icon-energy"></i>
                  </a>
                  <a class="btn btn-sm u-btn-black rounded-0" href="#!">June 18, 2018</a>
                  </span>
                  <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20 des-sec">
                     <ul class="list-inline g-font-size-12 g-color-white g-mb-5">
                        <li class="list-inline-item">
                           <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> 15
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-speech g-pos-rel g-top-1 g-mr-2"></i> 65
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-share g-pos-rel g-top-1 g-mr-2"></i> 14
                        </li>
                     </ul>
                     <h4 class="h3 g-font-weight-300 g-mb-20">
                        <a class="g-color-white g-color-white--hover" href="Children's-Health-in-Myanmar is-characterized-by-decreased-child-mortality-with-Respiratory-Infections-being-the-primary-cause-of-death.html">Children's Health in Myanmar is characterized by decreased child mortality with Respiratory Infections being the primary cause of death</a>
                     </h4>
                     <div class="media">
                        <div class="d-flex mr-3">
                           <img class="g-width-30 g-height-30 g-rounded-50x" src="assets/custom-img/img4.jpg" alt="Image description">
                        </div>
                        <div class="media-body align-self-center g-color-white">
                           <p class="mb-0">Keshav Sundar</p>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
            <!-- End Article -->
            <!-- Article -->
            <div class="js-slide g-py-10 g-px-5">
               <article class="u-block-hover">
                  <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
                     <img class="img-fluid w-100 u-block-hover__main--mover-up" src="assets/custom-img/EmigrationoutofVenezuela.png" alt="Emigration out of Venezuela has increased exponentially in the 21st Century">
                  </figure>
                  <span class="g-pos-abs g-top-20 g-left-20">
                  <a class="btn btn-sm u-btn-cyan rounded-0" href="#!">
                  <i class="icon-energy"></i>
                  </a>
                  <a class="btn btn-sm u-btn-black rounded-0" href="#!">July 9, 2018</a>
                  </span>
                  <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20 des-sec">
                     <ul class="list-inline g-font-size-12 g-color-white g-mb-5">
                        <li class="list-inline-item">
                           <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> 48
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-speech g-pos-rel g-top-1 g-mr-2"></i> 65
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-share g-pos-rel g-top-1 g-mr-2"></i> 14
                        </li>
                     </ul>
                     <h4 class="h3 g-font-weight-300 g-mb-20">
                        <a class="g-color-white g-color-white--hover" href="Emigration-out-of-Venezuela-has-increased-exponentially-in-the-21st-Century.html">Emigration out of Venezuela has increased exponentially in the 21st Century</a>
                     </h4>
                     <div class="media">
                        <div class="d-flex mr-3">
                           <img class="g-width-30 g-height-30 g-rounded-50x" src="assets/custom-img/img4.jpg" alt="Image description">
                        </div>
                        <div class="media-body align-self-center g-color-white">
                           <p class="mb-0">Keshav Sundar</p>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
            <!-- End Article -->
            <!-- Article -->
            <div class="js-slide g-py-10 g-px-5">
               <article class="u-block-hover">
                  <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
                     <img class="img-fluid w-100 u-block-hover__main--mover-up" src="assets/custom-img/Agriculture-Industry.png" alt="Congo's Agriculture Industry is characterized by high employment mixed with low economic contribution and availability of agricultural land">
                  </figure>
                  <span class="g-pos-abs g-top-20 g-left-20">
                  <a class="btn btn-sm u-btn-cyan rounded-0" href="#!">
                  <i class="icon-energy"></i>
                  </a>
                  <a class="btn btn-sm u-btn-black rounded-0" href="#!">July 12, 2018</a>
                  </span>
                  <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20 des-sec">
                     <ul class="list-inline g-font-size-12 g-color-white g-mb-5">
                        <li class="list-inline-item">
                           <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> 17
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-speech g-pos-rel g-top-1 g-mr-2"></i> 65
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-share g-pos-rel g-top-1 g-mr-2"></i> 14
                        </li>
                     </ul>
                     <h4 class="h3 g-font-weight-300 g-mb-20">
                        <a class="g-color-white g-color-white--hover" href="Congo's-Agriculture-Industry.html">Congo's Agriculture Industry is characterized by high employment mixed with low economic contribution and availability of agricultural land</a>
                     </h4>
                     <div class="media">
                        <div class="d-flex mr-3">
                           <img class="g-width-30 g-height-30 g-rounded-50x" src="assets/custom-img/img4.jpg" alt="Image description">
                        </div>
                        <div class="media-body align-self-center g-color-white">
                           <p class="mb-0">Keshav Sundar</p>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
            <!-- End Article -->
            <!-- Article -->
            <div class="js-slide g-py-10 g-px-5">
               <article class="u-block-hover">
                  <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
                     <img class="img-fluid w-100 u-block-hover__main--mover-up" src="assets/custom-img/AccesstoInternet.png" alt="Access to Internet in Haiti is considerably lower than the average in Latin America">
                  </figure>
                  <span class="g-pos-abs g-top-20 g-left-20">
                  <a class="btn btn-sm u-btn-cyan rounded-0" href="#!">
                  <i class="icon-energy"></i>
                  </a>
                  <a class="btn btn-sm u-btn-black rounded-0" href="#!">Julu 4, 2018</a>
                  </span>
                  <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20 des-sec">
                     <ul class="list-inline g-font-size-12 g-color-white g-mb-5">
                        <li class="list-inline-item">
                           <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> 7
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-speech g-pos-rel g-top-1 g-mr-2"></i> 65
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                           <i class="icon-share g-pos-rel g-top-1 g-mr-2"></i> 14
                        </li>
                     </ul>
                     <h4 class="h3 g-font-weight-300 g-mb-20">
                        <a class="g-color-white g-color-white--hover" href="Access-to-Internet-in-Haiti-is-considerably-lower-than-the-average-in-LatinAmerica.html">Access to Internet in Haiti is considerably lower than the average in Latin America</a>
                     </h4>
                     <div class="media">
                        <div class="d-flex mr-3">
                           <img class="g-width-30 g-height-30 g-rounded-50x" src="assets/custom-img/img4.jpg" alt="Image description">
                        </div>
                        <div class="media-body align-self-center g-color-white">
                           <p class="mb-0">Keshav Sundar</p>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
            <!-- End Article -->
         </div>
         <!-- End Promo Block -->
         <!-- Testimonials -->
         <section id="content" class="call-to-action">
            <div class="container g-py-100">
               <div class="row justify-content-center">
                  <a href="Viz-Library.html" class="btn">Go to Library</a>
               </div>
            </div>
         </section>
         <!-- Testimonials -->