<br />
<br />
<br />
<div style=" background-color: #fff;
margin: 0 auto;
width: 85%;
padding: 50px;
text-align: center;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
-moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
box-shadow: rgba(0,0,0,0.8) 0 0 10px;">
<section id="HeadingGuide">
    <div class="u-heading-v2-2--top g-brd-primary g-mb-20 text-center">
            <h2 class="u-heading-v2__title g-line-height-1_3 g-font-weight-500 g-font-size-32 g-mb-80">GUIDE TO CREATING DATA VISUALIZATIONS (*BETA*)</h2>
    </div>    
<p><strong><u>&nbsp;</u></strong></p>
<p class="lead">
We at The QED Group are happy that you have joined us in our endeavor to visualize the enormous amount of international development data available. Below is a guide on how to go about creating meaningful visualization!</p>
<p>&nbsp;</p>
<p class="lead"><strong>An Understanding of Topic: </strong>Develop a basic understanding of the topic of interest as per the Viz Calendar. The topics are focused on visuals around &ndash; Health, Economics, Science &amp; Technology, Environment, Education, Foreign Aid, Gender etc.,</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<ul>
<li>Do some research on the topic of interest as per the Viz calendar. (Understanding that looking at one indicator means that it needs to be analyzed in conjunction with related factors. For example, if you&rsquo;re looking at oil prices you must also think about effect on exchange rate, GDP, inflation etc.)</li>
<li>Also, good to be up to date on current affairs not just domestic but global (Ex: Brexit, US-China trade war, climate change etc.,)</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p><strong>Data Sources: </strong>Next step is identifying a dataset/data source that shows the trends, relationships, causal effects etc. you are trying to visualize. QED has created a list of data sources that would be helpful in your preliminary search for your dataset. Also,</p>
<p>&nbsp;</p>
<ul>
<li>More emphasis on recent data. Even if it&rsquo;s not that many years it means more if its recent. In case of a dataset with a time duration of more than 20/30/50 years unless required, choose more recent time-period for the visualization</li>
<li>Always mention the data-source(s) in the visual</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p><strong>Examples of publicly available datasets:</strong></p>
<p><strong>&nbsp;</strong></p>
<ol>
<li>The DHS Program: Demographic and Health Surveys</li>
<li>Multiple Indicator Cluster Surveys</li>
<li>United Nations Development Programme</li>
<li>World Health Organization (WHO)</li>
<li>Institute for Health Metrics and Evaluation (IHME)</li>
<li>International Household Survey Network (IHSN)</li>
<li>Integrated Public Use Microdata Series (IPUMS) International</li>
<li>The National History Geographic Information System (NHGIS)</li>
<li>The US Geography Summary Data and Boundary Files</li>
<li>Integrated Population and Environmental Data</li>
<li>The Current Population Survey (CPS)</li>
<li>Center for&nbsp;Diseases Control and Prevention</li>
<li><a href="http://www.euro.who.int/en/data-and-evidence/databases">http://www.euro.who.int/en/data-and-evidence/databases</a></li>
<li><a href="https://data.humdata.org">https://data.humdata.org</a></li>
<li>National Cancer Institute (NCI)</li>
<li>International Agency for&nbsp;Research on Cancer (IARC)</li>
<li>Gapminder tool</li>
<li>UNAIDS</li>
<li>Gov</li>
<li><a href="https://foreignassistance.gov/explore">https://foreignassistance.gov/explore</a></li>
<li>World Bank</li>
<li><a href="https://data.unicef.org/">https://data.unicef.org/</a></li>
<li><a href="https://data.oecd.org/">https://data.oecd.org/</a></li>
<li><a href="https://www.ers.usda.gov/data-products/international-macroeconomic-data-set/">https://www.ers.usda.gov/data-products/international-macroeconomic-data-set/</a></li>
<li><a href="https://washdata.org/data">https://washdata.org/data</a></li>
<li><a href="https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html">https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html</a></li>
<li><a href="https://www.prio.org/Data/Armed-Conflict/Battle-Deaths/">https://www.prio.org/Data/Armed-Conflict/Battle-Deaths/</a></li>
</ol>
<p>&nbsp;</p>
<p><strong>Importance of Storytelling/ Narrative: </strong>Narration is the art of storytelling; it is essential in conveying important messages to the viewer and help create interest in the visualization.</p>
<p>&nbsp;</p>
<ul>
<li>Contextualizing the visual: More research on taking the right stance or perspective through which you show the visual. For instance, if you&rsquo;re showing Ethiopia HIV then approach from the angle that Ethiopia has a comparatively lower HIV Prevalence rate than many other sub-Saharan countries. So, it depends on the story that you want to bring out</li>
<li>If there are 2 or 3 charts in a visual there should be a clear, easy to understand connection in terms of the story that they convey. Doesn&rsquo;t necessarily need to be 2 messages, it&rsquo;s better to have 1 connected story.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p><strong>Quality Checks: </strong>Other than the guidelines mentioned above, you should carry out several quality checks to make sure that you are churning out error-free visuals:</p>
<p>&nbsp;</p>
<ul>
<li>Data Quality: Ensure there are no issues with the data and the values. Always cross-check the visual with the data online so that there are no issues like double counting or misrepresentation of values</li>
<li>Scatterplots are good for visuals showcasing X-Y relationship and ideally should not be used for graphs showing time-series trend. You can stick to line or area or even bar charts for that</li>
<li>General formatting including consistency over font type, size etc.,</li>
<li>If the values are in decimal format, then ensure you don&rsquo;t show more than 2 places after the decimal. Ex: a value of 1.5 or 1.25 is okay but not 1.3754 or even 1.4500</li>
<li>If the charts are showing any kind of comparison, then make sure the unit of measurement is the same</li>
<li>Axis label (year) should either appear in the x axis where it&rsquo;s supposed to or not appear at all. If the x axis shows 1995-2005 and the chart title mentions something like &lsquo;overtime/ over the years&rsquo;, then it&rsquo;s easy to grasp it means year</li>
</ul>
</section>
</div>