<!-- Signup -->
<section class="signup-sec ms2 g-pt-100 g-mb-100">
    <div class="u-heading-v2-2--top g-brd-primary g-mb-20 text-center g-width-100x--lg">
      <h2 class="u-heading-v2__title g-line-height-1_3 g-font-weight-500 g-font-size-32 g-mb-80">Edit Profile</h2>
    </div>
    <div class="container">
    <div class="row justify-content-center">
      <div class="flex-md-unordered align-self-center add-visual-form">
        <div class="u-shadow-v21 g-bg-white rounded g-pa-50 float-left">
          <!-- Form -->
          <form class="g-py-15" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            
            <div class="col-sm-6 g-mb-30 float-left">
              <label for="firstname" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">First Name</label>
                <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="firstname" id="firstname" placeholder="First Name" [(ngModel)]="model.firstname" #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }" required />
                <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
                  <div *ngIf="firstname.errors?.required">First Name is required</div>
                </div>
            </div>
            <div class="col-sm-6 g-mb-30 float-left">
              <label for="lastname" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Last Name</label>
                <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="lastname" id="lastname" placeholder="Last Name" [(ngModel)]="model.lastname" #lastname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }" required />
                <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
                  <div *ngIf="lastname.errors?.required">Last Name is required</div>
                </div>
            </div>
            <div class="col-sm-6 g-mb-30 float-left">
              <label for="email" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Email</label>
                <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email [disabled]="isEdit" />
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors?.required">Email is required</div>
                  <div *ngIf="email.errors?.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="col-sm-6 g-mb-30 float-left">
              <label for="mobile" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Mobile</label>
                <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" id="mobile" placeholder="9595959595" [(ngModel)]="model.mobile" name="mobile" pattern="[0-9]*" minlength="10" maxlength="10" #mobile="ngModel" />
                <div *ngIf="f.submitted && mobile.invalid" class="invalid-clone invalid-feedback">
                  <div *ngIf="mobile.errors?.minlength">Mobile should be 10digit</div>
                  <div *ngIf="mobile.errors?.required">Mobile is required</div>
                  <div *ngIf="mobile.errors?.pattern">Mobile should be only numbers</div>
                </div>
            </div>
            <div class="col-sm-6 g-mb-30 float-left">
              <label for="gender" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Gender</label>
                <select class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="gender" [(ngModel)]="model.gender" #gender="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" >
                  <option [ngValue]="undefined" selected="">Select Gender</option>
                  <option *ngFor="let gen of genderList" [ngValue]="gen">
                    {{ gen }}
                  </option>
                </select>
                <div *ngIf="f.submitted && gender.invalid" class="invalid-feedback">
                  <div *ngIf="gender.errors?.required">Gender is required</div>
                </div>
            </div>

            <div class="col-sm-6 g-mb-30 float-left">
              <label for="country_id" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Country</label>
                <select class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="country_id"  [(ngModel)]="model.country_id" #country_id="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country_id.invalid }" >
                  <option [ngValue]="undefined" selected="">Select Country</option>
                  <option *ngFor="let co of countryList;" [ngValue]="co.id">
                    {{ co.name }}
                  </option>
                </select>
                <div *ngIf="f.submitted && country_id.invalid" class="invalid-feedback">
                  <div *ngIf="country_id.errors?.required">Country is required</div>
                </div>
            </div>
            
            <div class="col-sm-6 g-mb-30 float-left">
              <label for="university_id" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">University or Organization</label>
                <select class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="university_id" [(ngModel)]="model.university_id" (change)="onUniChange($event)" #university_id="ngModel" [ngClass]="{ 'is-invalid': f.submitted && university_id.invalid }" required="">
                  <option [ngValue]="undefined" selected="">Select University or Organization</option>
                  
                  <option *ngFor="let uni of universityList;" [ngValue]="uni.id">
                    {{ uni.name }}
                  </option>
                  <option value="add_new">Other…</option>
                </select>
                <div *ngIf="f.submitted && university_id.invalid" class="invalid-feedback">
                  <div *ngIf="university_id.errors?.required">University or Organization is required</div>
                </div>
            </div>
            
            <div class="col-sm-6 g-mb-30 float-left">
              <label for="category_id" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Category</label>
                <select class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="category_id" [(ngModel)]="model.category_id" #category_id="ngModel" [ngClass]="{ 'is-invalid': f.submitted && category_id.invalid }" >
                  <option [ngValue]="undefined" selected="">Select Category</option>
                  <option *ngFor="let cat of categoryList" [ngValue]="cat.id">
                    {{ cat.name }}
                  </option>
                </select>
                <div *ngIf="f.submitted && category_id.invalid" class="invalid-feedback">
                  <div *ngIf="category_id.errors?.required">Category is required</div>
                </div>
            </div>
            <div class="col-sm-12 g-mb-30 float-left">
              <label for="bio" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Bio</label>
                <textarea class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="bio" id="bio" placeholder="Add bio" [(ngModel)]="model.bio" #bio="ngModel">
                </textarea>
            </div>
            <div class="col-sm-12 float-left" *ngIf="isEdit">
              <div class="upload-img form-group row" *ngIf="model.avatar && !changeImageFlag">
                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Picture</label>
                  <img src="{{baseUrl}}{{model.avatar}}">
              </div>
              <div class="g-mb-30">
                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"></label>
                  <button type="button" class="btn btn-primary mr-1 mb-1 " (click)="changeImage()" [hidden]="!model.avatar || changeImageFlag">Change</button>
                  <button type="button" class="btn btn-primary mr-1 mb-1 " (click)="removeImage(model.avatar) " [hidden]="!model.avatar || changeImageFlag">Remove</button>
              </div>
              <div class="g-mb-30" *ngIf="changeImageFlag || !model.avatar">
                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Picture</label>
                  <input class="input-file-btn" type="file" (change)="changeListener($event)">
              </div>
              <div class="upload-img form-group row" *ngIf="image">
                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"></label>
                  <img src="{{image}}">
              </div>
              <div class="g-mb-30" *ngIf="image">
                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"></label>
                  <button type="button" class="btn btn-primary mr-1 mb-1 " (click)="UploadImage() " [hidden]="!image " [disabled]="disableFlag ">Upload</button>
                  <button type="button " class="btn btn-primary mr-1 mb-1 " (click)="removeImage() " [hidden]="!image">Remove</button>
              </div>
              <div [hidden]="!uploading">
                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Please wait while uploading…</label>
              </div>
            </div>
            <div class="col-sm-3 g-mb-30 float-left">
                <button type="submit" class="btn btn-md btn-block u-btn-primary rounded g-py-13">Submit</button>
                <button class="btn btn-md btn-block u-btn-primary rounded g-py-13" [routerLink]="['/']">Cancel</button>
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>
    </div>
    <!-- Start Add University Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add University or Organization</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="flex-md-unordered align-self-center add-visual-form">
            <div class="u-shadow-v21 g-bg-white rounded g-pa-40 ">
              <!-- Form -->
              <form class="g-py-15" name="form" (ngSubmit)="f1.form.valid && add_uni(f1)" #f1="ngForm" novalidate>
               <!--  <div class="g-mb-30 col-sm-6">
                  <label for="country_id_1" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Country</label>
                  <select class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="country_id" [(ngModel)]="add_uni_model.country_id" #country_id_1="ngModel" [ngClass]="{ 'is-invalid': f1.submitted && country_id_1.invalid }" required="">
                    <option [ngValue]="undefined" selected="">Select Country</option>
                    <option *ngFor="let co of countryList;" [ngValue]="co.id">
                      {{ co.name }}
                    </option>
                  </select>
                  <div *ngIf="f1.submitted && country_id_1.invalid" class="invalid-feedback">
                    <div *ngIf="country_id_1.errors?.required">Country is required</div>
                  </div>
                </div> -->
                <div class="g-mb-30 col-sm-6">
                  <label for="name" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">University or Organization Name</label>
                  <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="name" id="name" placeholder="Name" [(ngModel)]="add_uni_model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f1.submitted && name.invalid }" required />
                  <div *ngIf="f1.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors?.required">University or Organization Name is required</div>
                  </div>
                </div>
                <div class="text-center mb-5">
                  <button class="btn btn-block u-btn-primary rounded g-py-13" type="submit">Submit</button>
                </div>
              </form>
              <!-- End Form -->
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <!-- End Add University Modal -->
  </div>
</section>
