<!-- Copyright Footer -->
<footer class="g-py-60 text-center">
  <div class="container">
    <div class="ft-logo g-mb-30">
      <a href="index.html"><img src="assets/custom-img/CGDV logo 2019.png" alt=""></a>
    </div>
    <div class="text-center align-self-center g-mb-30">
      <div class="topsocialicons">
        <a href="https://www.qedgroupllc.com/contact-us/" target="_blank"><i class="fa fa-envelope"></i></a>
        <a href="https://www.facebook.com/qedgroup/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/qedgroup" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/the-qed-group-llc/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UC_hgqiCGZYhRu2T6Wc4gMsA/featured" target="_blank"><i class="fa fa-youtube-play"></i></a>
      </div>
    </div>
    <div class="text-center g-mb-30">
      <ul class="u-list-inline">
        <li class="list-inline-item">
          <a class="g-color-black" href="#!">Privacy Policy</a>
        </li>
        <li class="list-inline-item">
          <span>|</span>
        </li>
        <li class="list-inline-item">
          <a class="g-color-black" href="#!">Terms of Use</a>
        </li>
        <li class="list-inline-item">
          <span>|</span>
        </li>
        <li class="list-inline-item">
          <a class="g-color-black" href="#!">License</a>
        </li>
        <li class="list-inline-item">
          <span>|</span>
        </li>
        <li class="list-inline-item">
          <a class="g-color-black" href="#!">Support</a>
        </li>
      </ul>
    </div>
    <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 &copy; All Rights Reserved.</small>
  </div>
</footer>
<!-- End Copyright Footer -->
