/* Add here all your css styles (customizations) */
body{
  font-family: 'Nunito', sans-serif;
  background-color: #f7f9fc;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
img {
    max-width: 100%;
}
button:focus{outline: none;}
.g-bg-gray{background: #ddd!important;}
.main-banner{/*background-image: url(../custom-img/home-banner.jpg);*/background-size: cover;background-position: center; background-color: #fff;}
.main-banner .g-bg-black-opacity-0_6--after::after{background:transparent!important;}
.our-journy-sec .u-carousel-v3 .slick-slide{transition: all ease-in-out .3s;opacity: 0;visibility: hidden;}
.our-journy-sec .u-carousel-v3 .slick-center{opacity: 1; visibility: visible;}
.our-journy-sec .slick-slider{z-index: 9;}
.our-journy-sec .slick-slide {transition: all ease-in-out .3s;opacity:0;visibility: hidden;}
.our-journy-sec .slick-active {opacity: 0;}
.our-journy-sec .slick-current {opacity: 1;visibility: visible;}
.our-journy-inner-sec{width: 100%;position: relative;z-index: 99;position: relative;}
.our-journy-inner-sec:after{content: ""; position: absolute;left: 0; top: 75px;background: rgba(65,107,122,.3);width: 100%;height: 2px;float: left;}
.our-journy-sec .slider.slider-for .slick-slide{padding: 30px 0 0;position: relative;z-index: 99;}
.our-journy-sec .slick-prev:before{content: ''!important;background: url(../custom-img/left-arrow-white.png);width: 60px; height: 60px;float: left;opacity: 1!important;}
.our-journy-sec .slick-next:before{content: ''!important;background: url(../custom-img/right-arrow-white.png);width: 60px; height: 60px;float: left;opacity: 1!important;}
.our-journy-sec .slick-prev, .our-journy-sec .slick-next{width: 60px; height: 60px;top:45px; transform: translate(0, 0);-webkit-transform: translate(0, 0);text-indent: -9999px;background: transparent;border:none;position: absolute;padding: 0;}
.our-journy-sec .slick-prev {left: 350px;z-index: 99;}
.our-journy-sec .slick-next {right: 350px;z-index: 99;}
ul.our-journy-des{float: left;width: 100%;margin-top: 50px;padding-left: 0;list-style: none;}
ul.our-journy-des li{float: left;width:46%;margin-right: 8%;}
ul.our-journy-des li:first-child{margin-right: 0;float: right;}
ul.our-journy-des li h3{font-weight: 600;font-size: 28px;color: #52544c!;margin: 0 0 25px;}
ul.our-journy-des li p {color: #111;font-size: 18px;line-height:32px;margin: 0px;}
ul.our-journy-des li img{width: auto;}
.journy-year{position: relative;display: table;width: 150px;height: 150px;background: #0e5365;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;margin: 0 auto}
.journy-year span{font-size: 30px; color: #fff; text-align: center;font-weight: 500; display: table-cell;vertical-align: middle;}
.our-team{background: #f7f7f7;}
.our-team em{font-weight: 600;}
.project-logo-sec ul {float: left;width: 100%;display: table;border-bottom: 1px solid rgba(49,104,211,.1);padding-left: 0;list-style: none;margin:0;}
.project-logo-sec ul li {display: table-cell;width: 33.33%;margin-right: 0;text-align: center;border-right: 1px solid rgba(49,104,211,.1);vertical-align: middle;height: 250px;}
.project-logo-sec ul li img {max-width: 200px;}
.project-logo-sec ul:last-child {border-bottom: 0;}
.project-logo-sec ul li:last-child {margin-right: 0;border-right: 0;}
.video-slider-home img{height: 350px;object-fit: cover;}

header .navbar{padding-top: 0;padding-bottom: 0;}
header .navbar-brand{padding: 0;}
header .navbar-brand img{width: 60%;}
header.u-header nav a.nav-link{color:#52544c!important;font-size: 18px;padding-bottom: 15px!important;padding-top: 15px!important;}
header.u-header nav a.nav-link:hover{color:#c7932c!important;}
h2.h3{font-size: 35px;color:#52544c!important;font-weight: 600;}
.lead {font-size: 18px;font-weight: 400;line-height: 34px;color:#111;}
p{font-size: 16px;line-height: 28px;}
.u-heading-v2-3--bottom::after{border-color: #a8c96f;border-top-width: 2px;}
.icon-arrow-right-circle:before{color: #a8c96f;}
.home-abt-sec{position: relative;}
.home-abt-sec:before{position: absolute; content: ""; top: 10%; left: 0; background-repeat: no-repeat; background-image: url(../custom-img/bg-pattrn.png); background-position: left top; background-size: contain; width: 400px; height: 400px; z-index: -1;}
.home-abt-sec:after{position: absolute; content: ""; right: 0; top:0;  background-repeat: no-repeat; background-image: url(../custom-img/bg-pattrn2.png); background-position: right bottom; background-size: contain; width: 1000px; height: 1000px; z-index: -1;}
.ms2{position: relative;}
.ms2:before{position: absolute; content: ""; top: 10%; left: 0; background-repeat: no-repeat; background-image: url(../custom-img/bg-pattrn.png); background-position: left top; background-size: contain; width: 400px; height: 400px; z-index: -1;}
.ms2:after{position: absolute; content: ""; right: 0; top:0;  background-repeat: no-repeat; background-image: url(../custom-img/bg-pattrn2.png); background-position: right bottom; background-size: contain; width: 1000px; height: 1000px; z-index: -1;}
.home-abt-sec ul li{font-size: 16px;color: #111;line-height: 28px;}
.home-abt-sec p{color: #111;}
.g-color-primary{color: #a8c96f!important;}
.g-bg-primary {background-color: #a8c96f !important;}
.testimonials-sec span.g-font-size-17{font-size: 24px!important;font-weight: 600;}

.inner-banner .g-color-white{z-index: 99;}
.inner-banner h2{font-size: 42px;}

/*.main-banner span{border-bottom: 5px solid #a8c96f;color: #a8c96f;} */
.main-banner span.typed-cursor{border-bottom: 0;} 
.main-banner a.btn{background:#0e5365;color: #fff;font-size: 18px;border-radius: 7px;} 
.main-banner a.btn:hover{background: #08404e;} 
.home-abt-sec .abt-img{background:#f7f7f7;padding:5px;} 
.video-slider{background: #313030!important;} 
.quote-icon{color: #50082a;} 
.u-btn-primary{background: #0e5365;} 
.u-btn-primary:hover{background: #08404e;border-color:#08404e;} 
.signup-sec .u-btn-primary{font-size: 18px;} 
.signup-sec .btn{font-weight: 600;} 
a , .u-blockquote-v1::before{color: #a8c96f} 
a:focus, a:hover{color: #72c02c; text-decoration: none;}
.signup-sec .h3{font-size: 26px;color:#52544c!important;font-weight: 600;}
.signup-sec .g-color-gray-dark-v5{color: #111!important}
.video-slider-inner img{height: 400px;object-fit: cover;}
.call-to-action a.btn{background:#0e5365;color: #fff;font-size: 18px;border-radius: 7px;padding: 10px 30px;font-weight: 600;} 
.call-to-action a.btn:hover{background: #08404e;color: #fff;} 

.video-slider .g-pos-abs.des-sec{position: relative!important;bottom: inherit;right: inherit;padding-top: 0.71429rem;}
.video-slider .g-bg-cover::after{content:none;}
.video-slider .des-sec .g-color-white{font-weight: 400;font-size: 16px;}
.video-slider .des-sec h4.h3{line-height: 24px;margin-bottom: 10px!important;}
.video-slider img.u-block-hover__main--mover-up{transform: inherit;}


.signup-sec a{color: #0e5365} 
.signup-sec a:focus, .signup-sec a:hover{color: #08404e}

.u-go-to-v1 {width: 2.57143rem;height: 2.57143rem;}
.u-go-to-v1:hover{background-color: #08404e;}

.g-brd-primary--hover:hover, .g-brd-primary--active.active {
    border-color: #0e5365 !important;
}
.u-check input[type="checkbox"]:checked + .u-check-icon-checkbox-v6 i, .u-check input[type="checkbox"]:checked + .u-check-icon-radio-v6 i, .u-check input[type="checkbox"]:checked + * .u-check-icon-checkbox-v6 i, .u-check input[type="checkbox"]:checked + * .u-check-icon-radio-v6 i, .u-check input[type="radio"]:checked + .u-check-icon-checkbox-v6 i, .u-check input[type="radio"]:checked + .u-check-icon-radio-v6 i, .u-check input[type="radio"]:checked + * .u-check-icon-checkbox-v6 i, .u-check input[type="radio"]:checked + * .u-check-icon-radio-v6 i {
    color: #fff;
    background-color: #0e5365;
    border-color: #0e5365;
}


@media (min-width: 768px) {
  .panel-heading {
    display: none;
  }
  .panel {
    border: none;
    box-shadow: none;
  }
  .panel-collapse {
    height: auto;
  }
  .panel-collapse.collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  .tab-content .tab-pane {
    display: block;
  }
  .nav-tabs {
    display: none;
  }
  .panel-title a {
    display: block;
  }

  .panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    margin-top: -2px;
  }
  .tab-pane:first-child .panel {
    border-radius: 5px 5px 0 0;
  }
  .tab-pane:last-child .panel {
    border-radius: 0 0 5px 5px;
  }

}


[class*="u-block-hover__additional"]{bottom: -85px;}
.u-block-hover:hover [class*="u-block-hover__additional--slide"], .u-block-hover:hover [class*="u-block-hover__additional--partially-slide"] {
    -webkit-transform: translate(0, -85px);
    -ms-transform: translate(0, -85px);
    transform: translate(0, -85px);
}

.img-round{padding-right: 40px;}
.img-round img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    display: table;
    margin: 0 auto;
    overflow: hidden;
    float: left;
    object-fit: cover;
    object-position: center;
}
.profile-sec h2{font-weight: 600;color: #52544c;margin-bottom: 5px;margin-top: 10px;}
.profile-sec h6{font-weight: 500;color: #aaa;}
.profile-sec-mid p{color:#a8c96f;display:inline-block;width: auto;margin-bottom: 0;margin-right: 8px;line-height: 24px;}
.profile-sec-mid p:last-child{margin-left: 8px;color: #111;}
.profile-sec-mid {
    border-bottom: 1px solid #7d7d7d;
    border-top: 1px solid #7d7d7d;
}

.img-portfolio a{text-decoration: none; color: #555;}
.img-portfolio a:hover{color: #72c02c;}
.img-portfolio .nav-tabs{border-bottom: none;}
.search input.form-control{ border: 1px solid #999; border-right: none; border-radius: 20px;}
.search button.g-bg-primary { background-color: #fff !important;border: 1px solid #999 !important;border-left: none;  }
.search button.g-bg-primary i{color: #999;}
header.u-header nav ul.navbar-nav li a.ds-submenu:hover ~ ul.dropdown-menu, header.u-header nav ul.navbar-nav li a.ds-submenu:focus ~ ul.dropdown-menu{display: block;}
header.u-header nav ul.navbar-nav li ul.dropdown-menu{ border-radius: 10px; position: absolute; width: auto;min-width: 150px; left: 25% !important; margin-left: -80px; top: 50px; z-index: 10000; border: none; box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.02);}
.dropdown:hover>.dropdown-menu {display: block;}
header.u-header nav ul.navbar-nav li ul.dropdown-menu:after {border-bottom: 9px solid #fff; border-left: 9px solid transparent; border-right: 9px solid transparent;content: " "; height: 0;  margin-left: -9px; position: absolute;top: -7px; width: 0; width: 0; left: 0; right: 0; margin: 0 auto;}
header.u-header nav ul.navbar-nav li ul.dropdown-menu:before{content: ''; position: absolute;  border-bottom: 10px solid #eee; border-left: 9px solid transparent; border-right: 9px solid transparent;left: 0; right: 0; width: 0; margin: 0 auto; top: -9px;}
header.u-header nav ul.navbar-nav li ul.dropdown-menu li{padding: 6px 15px;}
header.u-header nav ul.navbar-nav li ul.dropdown-menu li a{display: inline-block; width: 100%; text-align: center; color: #555; font-size: 15px; font-weight: 400; text-decoration: none;}
header.u-header nav ul.navbar-nav li ul.dropdown-menu li a:hover{    color: #c7932c; background-color: transparent;}
header.bg-over-hdr{position: absolute; border-bottom: none;}
header.bg-over-hdr .u-header__section{background: transparent !important;}
header.u-header.bg-over-hdr nav a.nav-link{color: #fff !important;}
header.u-header.bg-over-hdr nav a.nav-link:hover {color: #c7932c!important;}



.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 


  .topsocialicons a {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #eee;
    display: inline-block;
    margin-right: 12px;
    padding: 0;
    color: #000;
    text-align: center;
}
.topsocialicons{display: inline-block;}
.topsocialicons a .fa{line-height: 26px;}
.topsocialicons a:hover{ background-color: #a8c96f; color: #fff;}
.top-navbar{/*display: flex;*/width: 100%;text-align: right;}
.search{display: inline-block;margin-right: 40px;}
@media (min-width: 992px){}
.navbar-expand-lg .navbar-collapse {flex-wrap: wrap;}
}

/***** sticky menu ****/
.content {
  padding: 16px;
}
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: #000;
  box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.01);
}
.sticky + .content {
  padding-top: 60px;
}
.container.g-color-white.text-center .g-font-size-24 {
    font-size: 1.91429rem !important;
    line-height: 34px;
}
header.sticky .navbar-brand img {
    width: 60%;
}
.FullVideo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; 
    height: 100vh;
    overflow: hidden;
}
.FullVideo video{
  min-width: 100%;
  min-height: 100%;
}
.u-header{
  border-bottom: 1px solid #eee;
}
.container.feature-vizzz a.ttl{
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  font-size: 22px;
}
.container.feature-vizzz a.ttl:hover{
  color: #0e5365;
  text-decoration: none;
}
.w-h-o-custm{
  width: 100% !important;
  height: 420px !important;
  object-fit: contain !important;
  background-size: contain !important; 
  background-repeat: no-repeat;
  background-position: center;
}
.g-ltGry-bg{
  background-color: #c7932c !important;
}
.g-bg-grayyy{
  background-color: #999 !important;
}
.g-bg-grayyy:hover{
  background-color: #777 !important;
}
.container.feature-vizzz .u-arrow-v1[class*="abs"]::before{
  color: #fff;
}
.g-bor-t-1 {
    border-top: 1px solid #eee;
    padding-top: 5px;
}
.slick-list{z-index: 1;}
.g-bg-main {
    background-color: #26304d !important;
}
.main-slider .js-carousel {
    box-shadow: 0 8px 24px 0 rgba(0,0,0,.08), 0 16px 40px 0 rgba(0,0,0,.08);
    border-radius: 10px;
    background-color: #fff;
}
.g-bgcolor-green{
  background-color: #0e5365 !important;
}
.main-slider .slick-initialized.slick-slider .js-next, .main-slider .slick-initialized.slick-slider .js-prev{background: rgba(255,142,55,1);
background: -moz-linear-gradient(45deg, rgba(255,142,55,1) 0%, rgba(255,184,90,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,142,55,1)), color-stop(100%, rgba(255,184,90,1)));
background: -webkit-linear-gradient(45deg, rgba(255,142,55,1) 0%, rgba(255,184,90,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,142,55,1) 0%, rgba(255,184,90,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,142,55,1) 0%, rgba(255,184,90,1) 100%);
background: linear-gradient(45deg, rgba(255,142,55,1) 0%, rgba(255,184,90,1) 100%);
-webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e37', endColorstr='#ffb85a', GradientType=1 ); color: #fff !important; border-color: transparent !important;}
.main-slider .slick-initialized.slick-slider .js-next:hover, .main-slider .slick-initialized.slick-slider .js-prev:hover{background: rgba(255,142,55,1) !important;}
.g-nwbrd-left{
  border-left: 1px solid #f6f6f6 !important;
  } 
.g-nwbrd-bottom{
  border-bottom: 1px solid #f6f6f6 !important;
  }
::selection {
    color: #e74c3c;
    background-color: #f6f6f6;
}
.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item.active .nav-link, a.g-color-black:hover {
     color: #c7932c !important; 
}
a.g-color-black{transition: all 0.3s ease-in-out 0s;}
.testimonials-sec{
  position: relative;
}
.testimonials-sec svg{
  position: absolute;
  bottom: 0;
  left: 0;
}
.ft-logo img{
  /*max-width: 100px;*/
  width: 30%
}
.our-team figure img{
  filter: gray; 
  -webkit-filter: grayscale(1); 
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  height: 350px;
  object-fit: cover;
  width: 100% !important;   
}
.our-team figure img:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  transform: scale(1.01);  
  -webkit-transform: scale(1.01);  
}
.team-title {
    float: left;
    width: 100%;
    text-align: left;
}
.team-title h4 {
    color: #666;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 400;
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-left: 15px;
}
/*.our-team figure img.bw {
    display: block;
}
.our-team figure:hover img.bw {
    display: none;
}
.our-team figure img.colored {
    display: none;
}
.our-team figure:hover img.colored {
    display: block;
}
*/
.team-img-popup {
    display: table;
    width: 160px ;
    height: 160px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;
}
.team-img-popup img.w-100 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-desc {
    display: table;
    width: 100%;
    margin-top: 16px;
}
.team-desc h5.modal-title {
    text-align: center;
    font-size: 24px;
}
.team-desc h6 {
    color: #a8c96f;
    text-align: center;
    font-weight: 300;
}
.team-desc p {
    margin-top: 20px;
    text-align: center;
}
.modal-dialog{max-width: 700px;}
.modal.fade .modal-dialog{top: 50%; left: 0; right: 0; margin: 0 auto; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.u-block-hover__additional--partially-slide-up .u-block-hover__visible{padding-right: 10px; padding-left: 10px; bottom: -70px;}
.u-block-hover:hover .u-block-hover__additional--partially-slide-up .u-block-hover__visible{bottom: -6px;}
.our-partner .img-fluid {width: 170px; height: 70px; object-fit: contain;}
.main-slider .slick-list.draggable{box-shadow: 0 8px 24px 0 rgba(0,0,0,.08), 0 16px 40px 0 rgba(0,0,0,.08);}
.team-member { display: inline-block; width: 18%; margin-right: 2%;}
.team-member:last-child{margin-right: 0;}
.img-portfolio .card-footer a{overflow: hidden; text-overflow: ellipsis; height: 68px; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.card-image img.img-responsive { width: 100%; height: 120px; object-fit: contain; display: inline-block; vertical-align: middle; margin: 0 auto;}
.pagination { float: right; margin-top: 50px;}
.pagination .page-item .page-link{padding:10px 15px;}
.pagination .page-item.disabled .page-link{color: #ccc;}
.pagination .page-item.disabled{cursor: not-allowed;}
.pagination .page-item.active .page-link{color: #fff; background-color: #0e5365; border-color: #0e5365;}
footer { border-top: 1px solid #eee;}
.flex-md-unordered.add-visual-form {width: 100%;}
.input-file-btn {width: 100%;}
.add-visual-form select.form-control:not([size]):not([multiple]){height: auto; appearance:none; -webkit-appearance:none; -moz-appearance:none;}
.upload-img.form-group.row.ng-star-inserted img { width: 300px;  height: 250px; object-fit: contain;}
.img-portfolio.my_visuals_list { background-color: #f6f6f6;}
.img-portfolio.my_visuals_list ul.MV_listing { padding: 12px 0 0 12px; margin: 0; list-style: none; border-top: 1px solid #eee; text-align: right;}
.img-portfolio.my_visuals_list ul.MV_listing li { display: inline-block; margin-right: 13px; padding-right: 13px; border-right: 1px solid #eee; line-height: normal; vertical-align: bottom;}
.img-portfolio.my_visuals_list ul.MV_listing li:last-child{border-right: none; margin-right: 0; padding-right: 0;}
.img-portfolio.my_visuals_list .panel-body { float: left; width: 100%;}
.invalid-feedback p { color: red;}
.MV_listing button{padding: 0;}


.upvote-btn{color: #555;text-decoration: none;} 
.upvote-btn:focus, .upvote-btn:hover{color: #72c02c; text-decoration: none;}