         <section class="g-py-80 iframe-sec g-bg-gray-light-v5">
            <div class="container" *ngIf="visual && visual.html" [innerHtml]= "visual?.html | safe:'html'">
            </div>
            <div class="container" *ngIf="visual && !visual.html">
            	<img src="{{baseUrl}}{{visual.avatar}}" *ngIf="visual.avatar">
            </div>
            <br />
            <div *ngIf="visual" style="padding-left: 15%;width: 85%;text-align: center;" class="col-sm-12 g-mb-30 float-left">
                  <label for="description" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-18">
                    {{visual.description}} 
                  </label>
                        
                  
                  
            </div>
            <br />
            <div class="container" *ngIf="visual && visual.comments">
              <div *ngIf="visual.comments"><app-comment-list></app-comment-list></div>
              
            </div>
         </section>