<!-- Team Blocks -->
   <section class="g-pt-70 g-pb-70 g-bg-gray-light-v5 our-partner">
      <div class="container">
        <div class="row justify-content-center g-mb-60">
           <div class="col-lg-12">
              <!-- Heading -->
              <div class="text-center">
                 <h2 class="h3 g-color-black text-uppercase mb-2">Our Collaborators</h2>
                 <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                 <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
              <!-- End Heading -->
           </div>
        </div>
        <div class="row">
           <div class="project-logo-sec">
              <div class="container">
                 <ul>
                    <li>
                       <img src="assets/custom-img/p-logo1.png" alt="Georgetown University" title="" class="zoomIn">
                    </li>
                    <li>
                       <img src="assets/custom-img/p-logo2.png" alt="Boston University" title="" class="zoomIn">
                    </li>
                    <li>
                       <img src="assets/custom-img/p-logo3.png" alt="American University" title="" class="zoomIn">
                    </li>
                 </ul>
                 <ul>
                    <li>
                       <img src="assets/custom-img/p-logo4.png" alt="George Washington University" title="" class="zoomIn">
                    </li>
                    <li>
                       <img src="assets/custom-img/p-logo5.png" alt="Hansraj College, Delhi University" title="" class="zoomIn">
                    </li>
                    <li>
                       <img src="assets/custom-img/p-logo6.png" alt="University of Zambia" title="" class="zoomIn">
                    </li>
                 </ul>
              </div>
           </div>
        </div>
      </div>
   </section>
   <!-- End Team Blocks -->