<!-- Signup -->
<section class="signup-sec ms2 g-pt-100 g-mb-100">
  <div class="u-heading-v2-2--top g-brd-primary g-mb-20 text-center g-width-100x--lg">
    <h2 class="u-heading-v2__title g-line-height-1_3 g-font-weight-500 g-font-size-32 g-mb-80">Profile</h2>
  </div>
  <div class="container">
  <div class="row justify-content-center">
    <div class="flex-md-unordered align-self-center add-visual-form">
      <div class="u-shadow-v21 g-bg-white rounded g-pa-50 float-left">
        <!-- Form -->
        <form class="g-py-15" name="form" #f="ngForm" novalidate>
          <div class="col-sm-12 g-mb-30 float-left" style="text-align:center">
            <img style="border-radius: 10%;" src="{{image}}">
          </div>
          <div class="col-sm-12 g-mb-30 float-center"  style="text-align:center">
              <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-35">{{ model.firstname}} {{ model.lastname }}</label>              
          </div>
          <div class="col-sm-6 g-mb-30 float-left">
            <label for="email" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-20">Email: {{model.email}}</label>
          </div>
          <div class="col-sm-6 g-mb-30 float-left">
            <label for="mobile" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-20">Mobile: {{model.mobile}}</label>
          </div>
          <div class="col-sm-6 g-mb-30 float-left">
              <label for="mobile" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-20">Country: {{model.country}}</label>
          </div>
          <div class="col-sm-6 g-mb-30 float-left">
              <label for="mobile" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-20">Organization: {{model.university}}</label>
          </div>
          <div class="col-sm-12 g-mb-30 float-left">
              <label for="bio" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-20">Biography:</label>
          </div>
          <div class="col-sm-12 g-mb-30 float-left">
            <label for="bio" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-18">{{ model.bio }}</label>
              <!--<textarea class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="bio" id="bio" placeholder="Add bio" [(ngModel)]="model.bio" #bio="ngModel">
              </textarea>-->
          </div>
          <div class="col-sm-12 g-mb-30 float-left">
            <div class="col-sm-8 g-mb-30 float-left" style="text-align: center;padding-left: 30%;">
              <button class="btn btn-md btn-block u-btn-primary rounded g-py-13" [routerLink]="['/']">Back</button>
            </div>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <div class="panel panel-default">
                <div id="collapseOne" class="panel-collapse collapse in show" *ngIf="innerWidth < 1000">
                  <div class="panel-body">
                    <div class="row" [style]="getCurrentStyle()">
                      <div class="col-sm-6 col-lg-3" *ngFor="let item of rows">
                        <div class="card p-2 mt-3 mb-3">
                          <div class="card-image">
                            <img class="img-responsive" src="{{baseUrl}}{{item.avatar}}">
                          </div>
                          <div class="card-footer pr-0 pb-1 g-bg-white">
                            <div class="d-flex mr-3">
                              <a class="d-block g-color-black  g-font-size-14 mb-2" [routerLink]="['/visual']" [queryParams]="{id: item.id}" >{{item?.title}}</a>
                            </div>
                            <div class="media-body">
                              <div class="g-width-30 g-height-30 float-left">
                                <img class="img-fluid g-brd-around g-brd-2 g-brd-white rounded-circle" src="{{baseUrl}}{{item?.user_avatar}}" alt="Image Description">
                              </div>
                              <a href="bio/{{item.user_id}}"><h5 class="h6 g-color-primary g-pt-5 g-pl-10 g-font-primary g-font-size-12 g-font-weight-400 float-left">- {{item?.username}} </h5></a>
                            </div>
                          </div>
                          <!-- <a href="javascript:void(0)" class="float-right text-right g-bor-t-1" *ngIf='!global.isLoggedIn'><i class="fa fa-heart" aria-hidden="true"></i> {{item.upvote}}</a> -->
                          <div><img src="assets/custom-img/certificate-16.png" style="width:10%" title="Top Contributor" alt="Top Contributor" *ngIf="item.topcontrib > 0" />
                          <img src="assets/custom-img/trophy-16.png" style="width:10%" title="Viz-a-thon Winner" alt="Viz-a-thon Winner"  *ngIf="item.winner > 0" />
                          <img src="assets/custom-img/runner-up-16.png" style="width:10%" title="Viz-a-thon Runner Up" alt="Viz-a-thon Runner-Up"  *ngIf="item.runnerup > 0" />
                        </div>
                          
                          <button class="btn btn-link float-right text-right g-bor-t-1 upvote-btn" (click)="upvote(item)" [style.color]="item.upvoted ? '#72c02c' : null" [disabled]="item.upvoted"><i class="fa fa-heart" aria-hidden="true"></i> {{item.upvote}}</button>
                          <!-- <a href="javascript:void(0)" class="float-right text-right g-bor-t-1" (click)="upvote(item)" [style.color]="item.upvoted ? '#72c02c' : null" ><i class="fa fa-heart" aria-hidden="true"></i> {{item.upvote}}</a> -->
                        </div>
                      </div>
                    </div>
                    <div>
                      <!-- pager -->
                      <ul *ngIf="pager.pages && pager.pages.length > 1" class="pagination">
                          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                              <a class="page-link"  (click)="getVisualList(1)">First</a>
                          </li>
                          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                              <a class="page-link"  (click)="getVisualList(pager.currentPage - 1)">Previous</a>
                          </li>
                          <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                              <a class="page-link"  (click)="getVisualList(page)">{{page}}</a>
                          </li>
                          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                              <a class="page-link"  (click)="getVisualList(pager.currentPage + 1)">Next</a>
                          </li>
                          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                              <a class="page-link"  (click)="getVisualList(pager.totalPages)">Last</a>
                          </li>
                      </ul>
                    </div>                  
                  </div>
                </div>
                <div class="panel-heading" *ngIf="innerWidth >= 1000">
                  <h4 class="panel-title" >
                          <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseOne">
                            Tab 1
                          </a>
                        </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" *ngIf="innerWidth >= 1000">
                  <div class="panel-body">
                    <div class="row" [style]="getCurrentStyle()">
                      <div class="col-sm-6 col-lg-3" *ngFor="let item of rows">
                        <div class="card p-2 mt-3 mb-3">
                          <div class="card-image">
                            <img class="img-responsive" src="{{baseUrl}}{{item.avatar}}">
                          </div>
                          <div class="card-footer pr-0 pb-1 g-bg-white">
                            <div class="d-flex mr-3">
                              <a class="d-block g-color-black  g-font-size-14 mb-2" [routerLink]="['/visual']" [queryParams]="{id: item.id}" >{{item?.title}}</a>
                            </div>
                            <div class="media-body">
                              <div class="g-width-30 g-height-30 float-left">
                                <img class="img-fluid g-brd-around g-brd-2 g-brd-white rounded-circle" src="{{baseUrl}}{{item?.user_avatar}}" alt="Image Description">
                              </div>
                              <a href="bio/{{item.user_id}}"><h5 class="h6 g-color-primary g-pt-5 g-pl-10 g-font-primary g-font-size-12 g-font-weight-400 float-left">- {{item?.username}} </h5></a>
                            </div>
                          </div>
                          <!-- <a href="javascript:void(0)" class="float-right text-right g-bor-t-1" *ngIf='!global.isLoggedIn'><i class="fa fa-heart" aria-hidden="true"></i> {{item.upvote}}</a> -->
                          <div><img src="assets/custom-img/certificate-16.png" style="width:10%" title="Top Contributor" alt="Top Contributor" *ngIf="item.topcontrib > 0" />
                          <img src="assets/custom-img/trophy-16.png" style="width:10%" title="Viz-a-thon Winner" alt="Viz-a-thon Winner"  *ngIf="item.winner > 0" />
                          <img src="assets/custom-img/runner-up-16.png" style="width:10%" title="Viz-a-thon Runner Up" alt="Viz-a-thon Runner-Up"  *ngIf="item.runnerup > 0" />
                        </div>
                          
                          <button class="btn btn-link float-right text-right g-bor-t-1 upvote-btn" (click)="upvote(item)" [style.color]="item.upvoted ? '#72c02c' : null" [disabled]="item.upvoted"><i class="fa fa-heart" aria-hidden="true"></i> {{item.upvote}}</button>
                          <!-- <a href="javascript:void(0)" class="float-right text-right g-bor-t-1" (click)="upvote(item)" [style.color]="item.upvoted ? '#72c02c' : null" ><i class="fa fa-heart" aria-hidden="true"></i> {{item.upvote}}</a> -->
                        </div>
                      </div>
                    </div>
                    <div style="padding-right:23%">
                      <!-- pager -->
                      <ul *ngIf="pager.pages && pager.pages.length > 1" class="pagination">
                          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                              <a class="page-link"  (click)="getVisualList(1)">First</a>
                          </li>
                          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                              <a class="page-link"  (click)="getVisualList(pager.currentPage - 1)">Previous</a>
                          </li>
                          <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                              <a class="page-link"  (click)="getVisualList(page)">{{page}}</a>
                          </li>
                          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                              <a class="page-link"  (click)="getVisualList(pager.currentPage + 1)">Next</a>
                          </li>
                          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                              <a class="page-link"  (click)="getVisualList(pager.totalPages)">Last</a>
                          </li>
                      </ul>
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- End Form -->
        
      </div>
    </div>
  </div>
  <!-- Start Add University Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add University or Organization</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="flex-md-unordered align-self-center add-visual-form">
          <div class="u-shadow-v21 g-bg-white rounded g-pa-40 ">
            <!-- Form -->
            <form class="g-py-15" name="form" (ngSubmit)="f1.form.valid" #f1="ngForm" novalidate>
              <div class="g-mb-30 col-sm-6">
                <label for="name" class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">University or Organization Name</label>
                <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="name" id="name" placeholder="Name" [(ngModel)]="add_uni_model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f1.submitted && name.invalid }" required />
                <div *ngIf="f1.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors?.required">University or Organization Name is required</div>
                </div>
              </div>
              <div class="text-center mb-5">
                <button class="btn btn-block u-btn-primary rounded g-py-13" type="submit">Submit</button>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>
</div>
</section>
